.form {
  display: grid;
  gap: 1.25rem;
  padding: 2rem 1rem;
  max-width: 520px;
  margin: 2rem auto 0;
}

@media screen and (min-width: 770px) {
  .form {
    box-shadow: var(--shadow-light);
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
  }
}

.group {
  display: grid;
  gap: 0.5rem;
}

.label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.input,
.select {
  min-height: 2.375rem;
  padding: 0.125rem 0.5rem;
  color: var(--color-bg);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.25rem;
  transition: all 0.3s;
}

.input:focus,
.select:focus {
  border-color: var(--color-primary);
}

.button {
  outline-color: transparent;
  padding: 0.75rem;
  margin-top: 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-text);
  font-weight: 600;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s;
}

.button:disabled {
  background-color: var(--color-text-muted);
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  filter: brightness(85%);
}

.error {
  color: var(--color-danger);
  font-style: italic;
  font-size: 0.875rem;
}
