.layout {
  display: grid;
  grid-template-areas:
    "header"
    "page";
  grid-template-rows: auto 1fr;
}

.title {
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  font-size: 1.75rem;
  background-color: var(--color-bg-alt);
}

.page {
  grid-area: page;
}

.mobile {
  position: fixed;
  bottom: 0;
}

.desktop {
  grid-area: nav;
}

.title,
.desktop {
  border-bottom: 1px solid var(--color-primary);
}

@media screen and (min-width: 770px) {
  .layout {
    grid-template-areas:
      "header header nav"
      "page page page";
  }

  .title {
    justify-content: start;
    padding-left: 1rem;
  }
}
