/* #region Minimal Reset CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* html {
  color-scheme: dark light;
} */

body {
  height: 100vh;
  background-color: var(--color-bg-alt);
  color: var(--color-text);
}

#root {
  height: 100%;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* #endregion */

:root {
  --color-bg: #121212;
  --color-bg-alt: #1e1e1e;
  --color-primary: rgb(139, 92, 246);
  --color-secondary: rgb(255, 204, 0);
  --color-text: #e0e0e0;
  --color-text-muted: #a0a0a0;
  --color-border: #333;
  --color-hover: #2a2a2a;
  --color-danger: #ff3b30;

  /* Schatten voor diepte */
  --shadow-soft: 0px 4px 6px rgba(0, 0, 0, 0.3);
  --shadow-hard: 0px 8px 12px rgba(0, 0, 0, 0.5);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
