/* #region Minimal Reset CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

#root {
  height: 100%;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* #endregion */

:root {
  --color-bg: #3f3f3f;
  --color-bg-alt: #282828;
  --color-primary: #8b5cf6;
  --color-secondary: rgb(255, 204, 0);
  --color-text: #e0e0e0;
  --color-text-primary: #e0d3fd;
  --color-text-muted: #a0a0a0;
  --color-border: #6c757d;
  --color-hover: #3f3f3f;
  --color-danger: #ff3b30;

  --shadow-light: 0 0.25rem 0.5rem rgba(255, 255, 255, 0.3);

  --header-height: 3.5rem;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Poppins", serif;
}
